<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valorant Pass</title>
    <link rel="stylesheet" href="/views/ValorantFont.ttf" >
    <link rel="icon" href="/images/logo-icon.jpg" />
    <link rel="stylesheet" href="/views/index.css"/>
  </head>


  <body>
    <div>
        <h1>Valorant Pass</h1>
        <p>This website is for valorant players to have some perspective on how to finish the Valorant Battle pass without much headache.</p>
        <p>Of course this is just a perspective and has no relationship to riot games whatsoever</p>
    </div> 
    
    <div>
        <p>What's your current tier level?</p>
        <p>How many points to finish the current level?</p>
        <p>Have you completed the daily challenge already?</p>
        <p>Have you completed the weekly challenge already?</p>
    </div>
    
    </body>

</html>